# Exclude langages from stats
*.cc linguist-vendored
*.h linguist-vendored
*.cpp linguist-vendored
**/CMakeLists.txt linguist-vendored
*.cmake linguist-vendored
**/Podfile linguist-vendored

* text=auto eol=lf
tracker/test/assets/*.dll binary
tracker/test/assets/*.so binary
tracker/test/assets/*.dylib binary
